<footer class="footer">
  <small>
    <strong><a href="#">Software Developer</a></strong>
    <em><a href="#">Armel NIZIZIGIYIMANA</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>